<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="/">Все автомобили</a></li>
                <li><a href="/auto">Добавить</a></li>
            </ul>
        </div>
    </div>
</nav>