<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">Новый автомобиль</div>
                <div class="panel-body">
                    <form role="form" method="POST">
                        <div class="form-group">
                            <label>Название</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Год выпуска</label>
                            <input type="number" id="year" name="year" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Цена</label>
                            <input type="number" name="price" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Добавить">
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>