<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <% if(!data.Id) {%>Новый автомобиль<% } else {%>Редактировать атомобиль<% } %>
                </div>

                <div class="panel-body">

                    <form role="form" method="POST">

                        <div class="form-group">
                            <label for="text">Название</label>
                            <input type="text"
                                    id="text"
                                    name="name"
                                    class="form-control" value="<% if(data.Name) {%><%=data.Name%><%}%>">
                        </div>
                        <div class="form-group">
                            <label for="year">Год выпуска</label>
                            <input type="number"
                                    id="year"
                                    name="year"
                                    class="form-control" value="<% if(data.Year) {%><%=data.Year%><%}%>">
                        </div>
                        <div class="form-group">
                            <label for="price">Цена</label>
                            <input type="number"
                                    id="price"
                                    name="price"
                                    class="form-control" value="<% if(data.Price) {%><%=data.Price%><%}%>">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>